<a href="https://colab.research.google.com/github/SHIVANI40121/File-handling-in-python/blob/main/filehandling_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
f=open("myfile.txt","x")

In [ ]:
f=open("myfile.txt","w")
f.write("today im studing flie handling in python.")
f.close()

In [ ]:
f=open("myfile.txt","r")
print(f.read())

today im studing flie handling in python.

In [ ]:
f=open("myfile.txt","w")
f.write("i want to built my career in data science \n i want to become a data analyst")
f.close()

In [ ]:
f=open("myfile.txt","r")
print(f.readline())

i want to built my career in data science

In [ ]:
f=open("myfile.txt","r")
print(f.read())

i want to built my career in data science
 i want to become a data analyst

In [ ]:
f=open("myfile.txt","r")
print(f.read(5))

i wan

In [ ]:
f=open("myfile.txt","r")
for i in f:
  print(i)

i want to built my career in data science

 i want to become a data analyst

In [ ]:
f=open("myfile.txt","w")
f.write("myself shiv ,i think i have deleted the file \n")
f.close()

f=open("myfile.txt","r")
print(f.read())

myself shiv ,i think i have deleted the file

In [ ]:
f=open("myfile.txt","a")
f.write('hoorey,added  the content')
f.close()

f=open("myfile.txt","r")
print(f.read())

hoorey,added  the contenthoorey,added  the content

In [ ]:
f=open("myfile.txt","w")
l=['hello\n','hi\n','how are you\n','i am fine']
f.writelines(l)
f.close()

f=open("myfile.txt","r")
print(f.read())

hello
hi
how are you
i am fine

In [ ]:
import os
os.remove("myfile.txt")

In [ ]:
import os

if os.path.exists("myfile.txt"):
  os.remove("myfile.txt")
else:
  print("the file doesnt exists")

the file doesnt exists

In [ ]:
#to delete entire folder
#os.rmdir(".......")

In [ ]:
#using with
with open('myfile1.txt','w') as f:
  f.write("shivani is a brave girl")

In [ ]:
with open('myfile1.txt','r') as f:
  print(f.read())

shivani is a brave girl

In [ ]:
with open('myfile1.txt','r') as f:
  print(f.read(2))
  print(f.read(1))

sh
i

In [ ]:
bigl=['hello world' for i in range(100)]
with open('bigl.txt','w') as f:
  f.writelines(bigl)

In [ ]:
#with chunks
with open('bigl.txt','r') as f:
  chunksize=10
  while len(f.read(chunksize))>0:
    print(f.read(chunksize),end="*")
    f.read(chunksize)

dhello wor*orldhello *o worldhel*ello world*ldhello wo*worldhello*lo worldhe*hello worl*rldhello w* worldhell*llo worldh*dhello wor*orldhello *o worldhel*ello world*ldhello wo*worldhello*lo worldhe*hello worl*rldhello w* worldhell*llo worldh*dhello wor*orldhello *o worldhel*ello world*ldhello wo*worldhello*lo worldhe*hello worl*rldhello w* worldhell*llo worldh*dhello wor*orldhello *o worldhel*ello world*

In [ ]:
#seek and tell function
with open("myfile1.txt",'r') as f:
  print(f.read(10))
  print(f.tell())
  f.seek(0)
  print(f.read(15))

shivani is
10
shivani is a br

In [ ]:
#seek during write
with open('myfile1.txt','w') as f:
  f.write('hello')
  f.seek(0)
  f.write('x')
with open('myfile1.txt','r') as f:
  print(f.read())

xello

In [ ]:
#working with binary file
with open('roadmap.png','rb') as f:
  with open('roadmap1.png','wb') as wf:
    wf.write(f.read())

In [ ]:
#working with integers
with open('myfile1.txt','w') as f:
  f.write('5')
with open('myfile1.txt','r') as f:
  print(int(f.read())+5)
# as it only takes string format

10

In [ ]:
#complex data(write)
d={
    'name':'shivani',
    'age':21,
    'gender':'female'
}
with open('sample.txt','w') as f:
  f.write(str(d))

In [ ]:
with open('sample.txt','r') as f:
  print(f.read())

{'name': 'shivani', 'age': 21, 'gender': 'female'}

In [ ]:
#serialization(dict)
import json

In [ ]:
d={
    'name':'shivani',
    'age':21,
    'gender':'female'
}
with open('demo.json','w') as f:
  json.dump(d,f)

In [ ]:
d={
    'name':'shivani',
    'age':21,
    'gender':'female'
}
with open('demo.json','w') as f:
  json.dump(d,f,indent=5)

In [ ]:
#deserialization(dict)
import json

In [ ]:
with open('demo.json','r') as f:
  d=json.load(f)
  print(d)
  print(type(d))

{'name': 'shivani', 'age': 21, 'gender': 'female'}
<class 'dict'>

In [ ]:
#serilization(tuple)
# if u dump a tuple it will give list,if u deserialize also it will give list only,you dont get tuple
t=(1,2,3,4,5)
with open('demo.json','w') as f:
  json.dump(t,f)

In [ ]:
#serialization of custom objects
class Person:
  def __init__(self,fname,lname,age,gender):
    self.fname=fname
    self.lname=lname
    self.age=age
    self.gender=gender

person=Person('shivani','peta',21,'female')

In [ ]:
import json
def show_object(person):
  if isinstance(person,Person):
    return {'name':person.fname+' '+person.lname,'age':person.age,'gender':person.gender}



with open('demo.json','w') as f:
  json.dump(person,f,default=show_object,indent=4)

In [ ]:
#deserialization of custom objects
import json
with open('demo.json','r') as f:
  print(json.load(f))

{'name': 'shivani peta', 'age': 21, 'gender': 'female'}

In [ ]:
#pickling=the process where a python object hierarchy is converted to byte stream
#unpickling=the process where a byte stream is converted to byte stream

In [1]:
import pickle

In [2]:
class Person1:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def display_info(self):
    print('hi my name is',self.name,'and i am',self.age,'years old')

In [3]:
p = Person1('Shivani', 21)

In [5]:
import pickle
with open('Person.pkl','wb') as f:
  pickle.dump(p,f)

In [6]:
#unpickling
with open('Person.pkl','rb') as f:
  p=pickle.load(f)
p.display_info()

hi my name is Shivani and i am 21 years old